.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("images/firstroundblue.svg"); */
  /* url("images/secondroundblue.svg"), url("images/firstroundpurple.svg"),
    url("images/secondroundpurple.svg"); */
  /* background-position-x: left;
  background-repeat: no-repeat; */
}
.Content {
  flex-grow: 1;
}
